* {
  margin: 0;
}

body{
  position: static;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#App {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  height: 200vh;
  width: 100vw;
  padding-top:20vh;
}

#twoBodiesImg{
  height: 100%;
  width:auto;
  filter: contrast(150%);
}

#head{
  position:absolute;
  top:20vh;
  left:0;
  height: 39vh;
  width: 100vw;
  border-bottom: black 1vh dashed;
}

#torso{
  position:absolute;
  top:83vh;
  left:37vw;
  height: 38vh;
  width: 26vw;
  border-bottom: black 1vh dashed;
}